DB_HOST=localhost
DB_INSTANCE=
DB_PORT=1433
DB_USERNAME=pricify
DB_PASSWORD=pricify2026
DB_DATABASE=pricify_db
DB_SYNCHRONIZE=true
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
JWT_SECRET=marriott-dev-secret-2026
FRONTEND_URL=http://localhost:5173
